@font-face {
    font-family: Parkinsans;
    src: url('/fonts/Parkinsans-VariableFont_wght.ttf') format('truetype');
}
/* nav */
.logo-milledoni{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
}
.divider{
    margin: 10px;
    height: 2px;
    background: linear-gradient(to right, transparent, #5BC1A8, transparent);
}
nav{
    display: flex;
}
.log-in{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
}
/* .menu{
    
} */
h1{
    font-family: 'Parkinsans';
    font-weight: 300;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Parkinsans';
    color: #5BC1A8;

}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-btn{
    background-color: #5BC1A8;
    padding: 5px 5px 5px 5px;
    width: 80px;
    border-radius: 30px;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
}
/* main */
/* card */
.card-container{
    display: grid;

    @media (min-width: 510px) {
            grid-template-columns: repeat(2, 1fr); 
            gap: 20px;
        }

    @media (min-width: 890px) {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
    }
}
.card{
    height: 353px;
    margin: 1em;
    padding: 1rem;
    border: 3px solid #5BC1A8;
    border-radius: 7px;
}
.product-image{
    position: relative;
    top: 20px;
    left: 40px;
}